{% extends "template.html" %}
{% block content %}
<div class="pagetitle text-center">
    <h1>LISTADO DE LOTES</h1>
</div>

<!-- Bloque para mostrar mensajes de flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-warning">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<section class="section">
    <div class="col-lg-6" style="margin-left: 5%;">
        <label>Criterio</label>
        <select id="criterio">
            <option value="tipoProducto">Producto</option>
            <option value="marca">Marca</option>
            <option value="marca">Vencimiento</option>

        </select>
        <input id="texto" placeholder="Ingresa un texto a buscar" />
        <a id="btn" class="btn btn-success">Buscar</a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Encuestados</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered text-center mx-auto"
                            style="max-width: 1000px;">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Marca</th>
                                    <th>Codigo de Lote</th>
                                    <th>Unidades</th>
                                    <th>Precio Compra</th>
                                    <th>Precio Venta</th>
                                    <th>Fecha de Elaboracion</th>
                                    <th>Fecha de Vencimiento</th>
                                    <th>Descipcion de Lote</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for item in lista_lote %}
                                <tr>
                                    <td>{{ item.producto.nombre }}</td>
                                    <td>{{ item.producto.marca }}</td>
                                    <td>{{ item.codigoLote }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.precioCompra }}</td>
                                    <td>{{ item.precioVenta }}</td>
                                    <td>{{ item.fechaCreacion}}</td>
                                    <td>{{ item.fechaVencimiento}}</td>
                                    <td>{{ item.descripcionLote }}</td>

                                    <td>
                                        <a href="/lote/edit/{{ item.id }}" class="btn btn-info">MODIFICAR</a>
                                        <form action="/lote/delete/{{ item.id }}" method="post"
                                            style="display:inline;">
                                            <button type="submit" class="btn btn-danger"
                                                onclick="return confirm('¿Estás seguro de que deseas eliminar este lote?');">ELIMINAR</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}